<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-g">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

        <title>Personal Finance Dashboard</title>
    </head>
    <body>
        <nav>

            {% if session.user_id %}

                <a href='/'>Dashboard</a>
                <a href='/add'>Add Transaction</a>
                <a href='/logout'>Log Out</a>

            {% else %}

                <a href='/register'>Register</a>
                <a href='/login'>Login</a>

            {% endif %}
        </nav>
        <main>
               {% block body %}{% endblock %}
        </main>

        <footer>
            © 2025 Cyber-DiGit. All Rights Reserved.
        </footer>
    </body>
</html>
